<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} [%t] %-5p %c{1} %x - %m%n" />
		</layout>
	</appender>
	<appender name="FA" class="org.apache.log4j.FileAppender">
		<param name="File" value="c:/temp/log/nio-proxy.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="#@%d{HH:mm:ss} [%t] %-5p %c{1} %x - %m @@%n" />
		</layout>
	</appender>
	<logger name="jxsource.net.proxy">
		<level value="debug" />
		<appender-ref ref="CA" />
		<appender-ref ref="FA" />
	</logger>
	<!-- root>
		<level value="error" />
		<appender-ref ref="CA" />
	</root-->
</log4j:configuration>